<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Team Elf</h1>
    <p><%= title %>!</p>
    <img src="/images/elf.png" alt="Mascot">
  </body>
</html>
